.login-page {
  padding: 40px;
}
.login-page__slogon {
  text-align: center;
  height: 400px;
}
.login-page__slogon-main {
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
}
.login-page__slogon-subhead {
  font-size: 28px;
  line-height: 1.5;
}
.login-page__input {
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #cbcbcb;
}
.login-page__input__focus {
  border: 2px solid #48c479;
}
.login-page__button {
  margin-top: 32px;
  background: #25b865;
  color: white;
}
.login-page__other-tool-box {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 2px solid #cbcbcb;
  color: #236dd9;
  text {
    margin-right: 32px;
  }
}
